<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Logo</key>
	<dict>
		<key>name</key>
		<string>Logo</string>
		<key>year</key>
		<string>1968</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Logo_(programming_language)</string>
	</dict>
	<key>B</key>
	<dict>
		<key>name</key>
		<string>B</string>
		<key>year</key>
		<string>1969</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/B_(programming_language)</string>
	</dict>
	<key>Pascal</key>
	<dict>
		<key>name</key>
		<string>Pascal</string>
		<key>year</key>
		<string>1970</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Pascal_(programming_language)</string>
	</dict>
	<key>Forth</key>
	<dict>
		<key>name</key>
		<string>Forth</string>
		<key>year</key>
		<string>1970</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Forth_(programming_language)</string>
	</dict>
	<key>C</key>
	<dict>
		<key>name</key>
		<string>C</string>
		<key>year</key>
		<string>1972</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/C_(programming_language)</string>
	</dict>
	<key>Smalltalk</key>
	<dict>
		<key>name</key>
		<string>Smalltalk</string>
		<key>year</key>
		<string>1972</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Smalltalk</string>
	</dict>
	<key>Prolong</key>
	<dict>
		<key>name</key>
		<string>Prolong</string>
		<key>year</key>
		<string>1972</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Prolog</string>
	</dict>
	<key>ML</key>
	<dict>
		<key>name</key>
		<string>ML</string>
		<key>year</key>
		<string>1973</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/ML_(programming_language)</string>
	</dict>
	<key>Scheme</key>
	<dict>
		<key>name</key>
		<string>Scheme</string>
		<key>year</key>
		<string>1975</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Scheme_(programming_language)</string>
	</dict>
	<key>SQL</key>
	<dict>
		<key>name</key>
		<string>SQL</string>
		<key>year</key>
		<string>1978</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/SQL</string>
	</dict>
	<key>C_plus_plus</key>
	<dict>
		<key>name</key>
		<string>C++</string>
		<key>year</key>
		<string>1980</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/C%2B%2B</string>
	</dict>
	<key>Ada</key>
	<dict>
		<key>name</key>
		<string>Ada</string>
		<key>year</key>
		<string>1983</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Ada_(programming_language)</string>
	</dict>
	<key>Common_Lisp</key>
	<dict>
		<key>name</key>
		<string>Common Lisp</string>
		<key>year</key>
		<string>1984</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Common_Lisp</string>
	</dict>
	<key>MATLAB</key>
	<dict>
		<key>name</key>
		<string>MATLAB</string>
		<key>year</key>
		<string>1984</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/MATLAB</string>
	</dict>
	<key>Eiffel</key>
	<dict>
		<key>name</key>
		<string>Eiffel</string>
		<key>year</key>
		<string>0</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Eiffel_(programming_language)</string>
	</dict>
	<key>Objective_C</key>
	<dict>
		<key>name</key>
		<string>Objective C</string>
		<key>year</key>
		<string>1986</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Objective-C</string>
	</dict>
	<key>Erlang</key>
	<dict>
		<key>name</key>
		<string>Erlang</string>
		<key>year</key>
		<string>1986</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Erlang_(programming_language)</string>
	</dict>
	<key>Perl</key>
	<dict>
		<key>name</key>
		<string>Perl</string>
		<key>year</key>
		<string>1987</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Perl</string>
	</dict>
	<key>TCL</key>
	<dict>
		<key>name</key>
		<string>TCL</string>
		<key>year</key>
		<string>1988</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Tcl</string>
	</dict>
	<key>Wolfram_Language</key>
	<dict>
		<key>name</key>
		<string>Wolfram Language</string>
		<key>year</key>
		<string>1988</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Wolfram_Language</string>
	</dict>
	<key>FL</key>
	<dict>
		<key>name</key>
		<string>FL</string>
		<key>year</key>
		<string>1989</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/FL_(programming_language)</string>
	</dict>
	<key>Haskell</key>
	<dict>
		<key>name</key>
		<string>Haskell</string>
		<key>year</key>
		<string>1990</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Haskell_(programming_language)</string>
	</dict>
	<key>Python</key>
	<dict>
		<key>name</key>
		<string>Python</string>
		<key>year</key>
		<string>1991</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Python_(programming_language)</string>
	</dict>
	<key>Visual_Basic</key>
	<dict>
		<key>name</key>
		<string>Visual Basic</string>
		<key>year</key>
		<string>1991</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Visual_Basic</string>
	</dict>
	<key>Ruby</key>
	<dict>
		<key>name</key>
		<string>Ruby</string>
		<key>year</key>
		<string>1993</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Ruby_(programming_language)</string>
	</dict>
	<key>Lua</key>
	<dict>
		<key>name</key>
		<string>Lua</string>
		<key>year</key>
		<string>1993</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Lua_(programming_language)</string>
	</dict>
	<key>R</key>
	<dict>
		<key>name</key>
		<string>R</string>
		<key>year</key>
		<string>1993</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/R_(programming_language)</string>
	</dict>
	<key>CLOS</key>
	<dict>
		<key>name</key>
		<string>CLOS</string>
		<key>year</key>
		<string>1994</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/CLOS</string>
	</dict>
	<key>Ada_95</key>
	<dict>
		<key>name</key>
		<string>Ada 95</string>
		<key>year</key>
		<string>1995</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Ada_95</string>
	</dict>
	<key>Java</key>
	<dict>
		<key>name</key>
		<string>Java</string>
		<key>year</key>
		<string>1995</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Java_(programming_language)</string>
	</dict>
	<key>Delphi</key>
	<dict>
		<key>name</key>
		<string>Delphi</string>
		<key>year</key>
		<string>1995</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Embarcadero_Delphi</string>
	</dict>
	<key>Javascript</key>
	<dict>
		<key>name</key>
		<string>Javascript</string>
		<key>year</key>
		<string>1995</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/JavaScript</string>
	</dict>
	<key>PHP</key>
	<dict>
		<key>name</key>
		<string>PHP</string>
		<key>year</key>
		<string>1995</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/PHP</string>
	</dict>
	<key>Rebol</key>
	<dict>
		<key>name</key>
		<string>Rebol</string>
		<key>year</key>
		<string>1997</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/REBOL</string>
	</dict>
	<key>D</key>
	<dict>
		<key>name</key>
		<string>D</string>
		<key>year</key>
		<string>1999</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/D_(programming_language)</string>
	</dict>
	<key>ActionScript</key>
	<dict>
		<key>name</key>
		<string>ActionScript</string>
		<key>year</key>
		<string>2000</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/ActionScript</string>
	</dict>
	<key>C_sharp</key>
	<dict>
		<key>name</key>
		<string>C#</string>
		<key>year</key>
		<string>2001</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/C_Sharp_(programming_language)</string>
	</dict>
	<key>Apache_Groovy</key>
	<dict>
		<key>name</key>
		<string>Apache Groovy</string>
		<key>year</key>
		<string>2003</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Groovy_(programming_language)</string>
	</dict>
	<key>Scala</key>
	<dict>
		<key>name</key>
		<string>Scala</string>
		<key>year</key>
		<string>2003</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Scala_(programming_language)</string>
	</dict>
	<key>F_sharp</key>
	<dict>
		<key>name</key>
		<string>F#</string>
		<key>year</key>
		<string>2005</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/F_Sharp_(programming_language)</string>
	</dict>
	<key>Windows_Powershell</key>
	<dict>
		<key>name</key>
		<string>Windows PowerShell</string>
		<key>year</key>
		<string>2006</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Windows_PowerShell</string>
	</dict>
	<key>Clojure</key>
	<dict>
		<key>name</key>
		<string>Clojure</string>
		<key>year</key>
		<string>2007</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Clojure</string>
	</dict>
	<key>Go</key>
	<dict>
		<key>name</key>
		<string>Go</string>
		<key>year</key>
		<string>2009</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Go_(programming_language)</string>
	</dict>
	<key>Rust</key>
	<dict>
		<key>name</key>
		<string>Rust</string>
		<key>year</key>
		<string>2010</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Rust_(programming_language)</string>
	</dict>
	<key>Dart</key>
	<dict>
		<key>name</key>
		<string>Dart</string>
		<key>year</key>
		<string>2011</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Dart_(programming_language)</string>
	</dict>
	<key>Julia</key>
	<dict>
		<key>name</key>
		<string>Julia</string>
		<key>year</key>
		<string>2012</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Julia_(programming_language)</string>
	</dict>
	<key>Swift</key>
	<dict>
		<key>name</key>
		<string>Swift</string>
		<key>year</key>
		<string>2014</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Swift_(programming_language)</string>
	</dict>
</dict>
</plist>
